@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout1";

}

<br />
<br />
<h1>About Us : </h1>
<br />
<div class="text-center">
    The Treat Cupcake Bar of Needham, Mass., is a go-to for fans of creative cupcakes.
    Either pick from the dozen daily flavors,
    or go with Make-a-Treat and choose your own frosting,
    cake and candy. No matter your age, the bar is perfect for any event,
    from a ladies' night out to a birthday party.
</div>

<br />
<br />
<h1>To Contatc Us : </h1>
<a  class="zmdi-email" href="https://accounts.google.com/signin/v2/identifier?hl=en&flowName=GlifWebSignIn&flowEntry=AddSession">mohamadzachariah88@gmail.com</a>
