@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom fonts for this template-->
    <link href="~/assest/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/assest/css/sb-admin-2.css" rel="stylesheet">

</head>
<body id="page-top">
    <div id="wrapper">


        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:black">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html" style="background-color:black">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-fw fa-birthday-cake"></i>
                </div>
                <div class="sidebar-brand-text mx-3" style="color:orange">Sammour Cake Shop </div>

            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0" style="background-color:orange">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active" style="background-color:black">
                <a class="nav-link collapsed" href="index.html">
                    <span style="color:white">Owner Dashboard</span>
                </a>
            </li>


            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Employees/Index">
                    <i class="fas fa-fw fa-anchor"></i>
                    <span style="color:orange">Employee</span>
                </a>

            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Customers/customerview">

                    <i class=" fas fa-fw fa-people-arrows"></i>
                    <span style="color:orange">Customers</span>
                </a>
            </li>

            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Categories/Index">
                    <i class="fas fa-fw fa-anchor"></i>
                    <span style="color:orange">Category</span>
                </a>

            </li>

            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Products/Index">
                    <i class="fas fa-fw fa-barcode"></i>
                    <span style="color:orange">Products</span>
                </a>

            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Reports/Index">
                    <i class="fas fa-fw fa-resolving"></i>
                    <span style="color:orange">Report</span>
                </a>

            </li>
            <li class="nav-item active" style="background-color:black">
                <a class="nav-item collapsed" href="~/Aboutus/Index">
                    <i class="fas fa-fw fa-resolving"></i>
                    <span style="color:orange">About</span>
                </a>

            </li>

            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Contatctus/Index">
                    <i class="fas fa-fw fa-"></i>
                    <span style="color:orange">Contact US</span>
                </a>

            </li>

            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" asp-controller="Employees" asp-action="EditAdmin" asp-route-id="@ViewBag.sessionID">
                    <span style="color:orange">Edit Profile</span> 
                </a>


            </li>

            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/LoginRegister/Login">
                    <i class="fas fa-fw fa-"></i>
                    <span style="color:orange">LogOut</span>
                </a>

            </li>


            <li class="nav-item" style="background-color:black"></li>


            <!-- Divider -->
            <hr class="sidebar-divider my-0" style="background-color:orange">

            <li class="nav-item active" style="background-color:black">
                <a class="nav-link collapsed" href="index.html">
                    <span style="color:white">Read Only</span>
                </a>
            </li>


            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Orders/SearchOrder">
                    <i class="fas fa-fw fa-"></i>
                    <span style="color:orange">Serch On Order</span>
                </a>

            </li>



            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/Testimoials/ForAdmin">
                    <i class="fas fa-fw fa-"></i>
                    <span style="color:orange">Testimonial</span>
                </a>

            </li>



            <li class="nav-item" style="background-color:black">
                <a class="nav-link collapsed" href="~/PaymentMethods/ForAdmin">
                    <i class="fas fa-fw fa-"></i>
                    <span style="color:orange">PaymentMethod</span>
                </a>

            </li>

            <li class="nav-item" style="background-color:black"></li>
            <li class="nav-item" style="background-color:black"></li>

        </ul>


        <div class="content">
            <div class="container-fluid">

                @RenderBody()
            </div>
        </div>

    </div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer>

</body>
</html>

