@model CakeShop.Model.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Home</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HomeId" />
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slider" class="control-label"></label>
                <input asp-for="Slider" class="form-control" />
                <span asp-validation-for="Slider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutusId" class="control-label"></label>
                <select asp-for="AboutusId" class="form-control" asp-items="ViewBag.AboutusId"></select>
                <span asp-validation-for="AboutusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactusId" class="control-label"></label>
                <select asp-for="ContactusId" class="form-control" asp-items="ViewBag.ContactusId"></select>
                <span asp-validation-for="ContactusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
